.cases{
    width: 100%;
    min-width: 1200px;
    background: #29303b;
    padding: 215px 0px 35px 0px;

    position: relative;
    h2{
        display: block;
        position: absolute;
        width: 250px;
        height: 160px;
        color: #fff;
        font-family: "RobotoCondensedBold";
        font-size: 40px;
        background: url(../img/cs.png) center center no-repeat;
        left: 50%;
        transform: translate(-50%, 0);
        padding-top: 50px;
        top: 35px;
    }
    .img-box{
        position: relative;
        width: 100%;
        min-height: 180px;

        img{
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            transition: 25px 550ms ease-in-out;
           // margin-top: -50px;
        }
    }
    .case-row{
        width: 100%;
        display: -webkit-flex; 
        display: flex; 
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin-bottom: 44px;
        position: relative;
        //outline: 1px solid red;
        a{
            display: block;
            position: relative;
            width: 270px;
           // margin-left: -150px;
        }
        a:hover{
            .right-box{
                //border: 5px solid rgba(150,161,52, 0.5);
                border-top: 5px solid rgba(150,161,52, 0.5);
                border-bottom: 5px solid rgba(150,161,52, 0.5);
                animation: spin 2s linear infinite;
            }
            .right-box-inner{
                width: 100%;
                height: 100%;
                animation: spin2 2s linear infinite;
            }
            .img-box{
                position: relative;
                width: 100%;
                img{
                    display: block;
                    //position: absolute;
                    top: -20px;
                    transition: 20px 550ms ease-in-out;
                    transition: top 550ms ease-in-out;
                }
            }
        }

        .case-row__item{
            position: relative;
            z-index: 1;
        }
        .left-box{
            position: absolute;
            bottom: 25px;
            span.bl{
                color: #fff;
                font-family: "RobotoCondensedBold";
                font-size: 19px;
                font-style: italic;
                text-shadow: 1px 1px 2px black;
            }
            span.cs{
                color: #79869a;
                font-family: "Exo2-Light";
                font-size: 16px;
            }
        }
        .right-box{
            position: absolute;
            background: rgba(22,28,34, 0.8);
            width: 80px;
            height: 80px;
            border-radius: 10em;
            text-align: center;
            z-index: 50;
            top: 100px;
            left: 162px;
            box-sizing: border-box;
            border: 5px solid rgba(150,161,52, 0);
            
        }
        .right-box-inner{
            width: 100%;
            height: 100%;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        @keyframes spin2 {
            0% { transform: rotate(360deg); }
            100% { transform: rotate(0deg); }
        }

    }   
}
      .ab-1 {
          font-family: "RobotoCondensedBold";
          font-size: 26px;
          color: yellow;
          text-align: center;
          width: 100%;
          display: block;
          padding-top: 13px;
}

      .ab-2 {
        font-family: "Exo2-Medium";
        font-size: 12px;
        display: block;
        color: white;
}


/*------ Хедер ------*/

.ab-header-wrapper {
  width: 100%;
  min-width: 1200px;
  background-color: #000; 
  padding: 13px 0px;
}

.ab-wrap {
  width: 1200px;
  margin: 0 auto; 
}

.ab-left-side {
  float: left;
}

.ab-project, .ab-more{
  font-family: "RobotoCondensedRegular";
  font-size: 12px;
  padding-left: 10px;

}
.ab-more {
  background: url(../img/left.png) no-repeat top left;
  color: red;
  padding-left: 11px;
  margin-left: 20px;
    a {
      padding-left: 12px;
      color: red;
    }
}
.ab-project {
  color: #0088B3;
  background: url(../img/right.png) no-repeat top left;
  margin-left: 10px;
    a {
      padding-left: 12px;
    }
}
.right {
  float: right;
}
.ab-social {
  position: relative;
  float: left;
  width: 100px;
  i {
    color: white;
    padding-left: 10px;
    margin-top: -15px; 
  }
}
.ab-social:after {
    content: "";
    position: absolute;
    background-color: #363636;
    width: 1px;
    height: 24px;
    left: 90px;
    top: 0;
} 
.ab-language {
    float: right;
    padding-top: 3px;
    width: 65px;
    position: relative;
    z-index: 500;
    #cur-lang{
        width: 100%;
        position: relative;
        cursor: pointer;
        background: #000;
    }
    #current{
        padding-left: 10px;
        .txt-box{
            width: 70%;
        }
    }
    #cur-lang:after{
        position: absolute;
        content: "";
        width: 6px;
        height: 3px;
        background: url(../img/arr_down.png) no-repeat top center;
        top: 10px;
        right: 1px;
    }
    #cur-lang:hover > ul.lang-switcher{
        //display: block;
    }
    ul{
        display: none;
        width: 100%;
        background: #000;
        position: absolute;
        padding-left: 10px;
        padding-right: 25px;
        padding-bottom: 5px;
        li{
            display: block;
            cursor: pointer;
            margin-top: 5px;
        }
    }
    .lang-wrap{
        display: table;
        width: 100%;
        .img-box{
            display: table-cell;
            vertical-align: middle;
            width: 27px;
            img{
                display: inline-block;
            }
        }
        .txt-box{
            display: table-cell;
            vertical-align: middle;
            width: 27px;
            position: relative;
            padding-left: 5px;
            span{
                display: inline-block;
                position: absolute;
                font-family: "Exo2-Medium";
                font-size: 14px;
                color: #fff;
                text-transform: uppercase;
                top: -0px;
            }
        }
    }
}

select {
  float: left;
  background: url(../img/rus.png) no-repeat;
  border: none;
  width:70px; 

}

/*--------------------------------------------------*/
.ab-big-txt {
  font-size: 14px;
  color: #FF711E;
  font-family: "RobotoCondensedRegular";
  position: absolute;
  right: 70px;
  top: 105px;
  font-style: italic;

}

.ab-small-txt {
  font-size: 5px;
  color: #FF711E;
  font-family: "RobotoCondensedRegular";
  position: absolute;
  right: 64px;
  top: 111px;
  font-style: italic;
}

.pleft3 {
 position: absolute;
 right: -47px;

}

.pright91 {
 position: absolute;
 right: -15px;
  top: 9px;

}


.pleft99 {
  position: absolute;
 right: 12px;
}
/*------ Хедер Middle------*/

.ab-middle-header {
  width: 100%;
  min-width: 1200px;
  background: url(../img/middle-bg.png) no-repeat top center;
  background-size: cover;
  height: 100px;
}

.ab-side {
  padding-top: 10px;
}


.ab-menu {
  font-family: "RobotoCondensedRegular";
  text-transform: uppercase;
  font-size: 16px;
  display: block;
  margin: -52px 332px;
  width: 620px;
  height: 20px; 
    
    a {
      color: white;
      margin-left: 20px;
      padding-left: 23px;
    }

    a:hover {
      color: yellow;
    }
}


.ab1 {
  display: inline-block;
  background: url(../img/zvezda.png) no-repeat left center;
    }

.ab2 {
  display: inline-block;
  background: url(../img/faq.png) no-repeat left center;
    }

.ab3 {
  display: inline-block;
  background: url(../img/teh.png) no-repeat left center;
    }        

.ab-steam-button {
  width: 295px;
  height: 64px;
  background: url(../img/steam-button.png) no-repeat top center;
  float: right;
  margin-top: 7px;
}

/*-------------------------------------------------*/


/*------ Footer ------*/

.cl {

}

.ab-footer {
  width: 100%;
  min-width: 1200px;
  background-color: #14181B;
  padding: 65px 0px;
  position: relative;
   .ab-wrap{
        display: -webkit-flex; 
        display: flex; 
        justify-content: space-between;
        align-items: center;
    
        height: 100%;
    }
  .clg{
     display: -webkit-flex; 
        display: flex; 
        justify-content: space-around;
        align-items: center;
    
        height: 100%;
  }
}

.ab-copy-txt {
  margin-left: 20px;
  font-family: "Exo2-Light";
  color: white;
  font-size: 16px;

}    

.ab-social2 {
  
    i {
    color: white;
    padding-left: 10px;
    margin-top: -15px;
     }
 }

.ab-support {
    font-family: "Exo2-Light";
    font-size: 14px;
 
    a {
      color: #767980;
      
    }

    a:hover {
      color: yellow;
    }
}


.ab-kontakt-footer {
  margin-top: 17px;
}


.ab-treug {
  margin-top: -10px;
}

/*-------------------------------------------------*/




/*------ Profile ------*/

.ab-profile-wrap {
  min-width: 177px;
  float: right;
  padding-top: 15px;
}

.ab-ava {
  float: left;
  padding-right: 18px;
}

.ab-ava-txt {
  float: left;
}

.ab-name {
  font-family: "Exo2-Light";
  font-size: 18px;
  color: white;
  position: relative;
}

.ab-name:after {
  background: url(../img/bt-right.png) no-repeat;
  width: 14px;
  height: 11px;
  content: "";
  position: absolute;
  right: -35px;
  top: 6px;
}

.ab-summa {
  font-family: "RobotoCondensedBold";
  font-size: 18px;
  color: yellow;
  position: relative;
}

.ab-summa:after {
  background: url(../img/bt-up.png) no-repeat;
  width: 14px;
  height: 11px;
  content: "";
  position: absolute;
  left: 86px;
  top: 9px;

}

.ab-rub {
  font-family: "Exo2-Medium";
  font-size: 18px;
  color: white;
  padding-left: 5px;

}


/*-------------------------------------------------*/

.middle-box{
    background: #202731 !important;
    
}





/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
   
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

  
  


}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

  
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  

}
 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}
/***************/
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
    //outline: 1px solid red;
    //outline: none !important;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
}